*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cover-bg{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.mt-20{
    margin-top: 20px;
}


.mb-20{
    margin-bottom: 20px;
}

.mb-30{
    margin-bottom:30px; 
}

.pb-35{
    padding-bottom: 35px;
}

.mt-35{
    margin-top: 35px;
}
.mt-30{
    margin-top: 30px;
}

.py-15{
    padding-top: 15px;
    padding-bottom: 15px;
}




/*** title css***/



 .home .demo2 .demo1 .demo ul{
    margin: 5px;
    text-align: center;
    height: 200px;
    
}

.home .demo2 .demo1 .demo ul li{
    float: right;
    display: inline-block;
    padding: 20px;
    width: 200px;
    margin:20px;
    

    
}
 .home .demo2 .demo1 .demo ul li a{
    color: #fff;
    font-size: 20px;
    transition: 0.5s all;
    text-align:center;
    float: right;
    list-style-type:none;
     display: inline;
}

 .home .demo2 .demo1 .demo ul li a:hover{
    color: #1957f3;
     float: right;
}


/*** section title css ***/


.section_title{
    position: relative;
    margin-bottom: 70px;
    width: 100%;
}

.section_title p{
    background-color: #1957f3;
    color: #fff;
    display: inline-block;
    margin-bottom: 5px;
    text-align: center;
    text-transform: uppercase;
    padding: 0 12px;
    letter-spacing: 1px;
}

.section_title h3{
    position: relative;
    font-size: 36px;
    text-transform: capitalize;
    line-height: 1.14;
    letter-spacing: 1.4px;
    padding-bottom: 13px;
}

.section_title h3:after{
    content: '';
    position: absolute;
    display: block;
    height: 30px;
    width: 2px;
    bottom: -30px;
    left: 50%;
    background-color: #1957f3;
    transform: translate(-50%,0);
    
}

/*** Buttons css ***/

.btn{
    background-color: #1957f3;
    border: 2px solid #1957f3;
    padding: 15px 20px;
    box-shadow: inset 0 0 0 0 #fff;
    color: #fff;
    font-size: 14px;
    transition: 0.8s all;
    
}
.btn:hover{
    box-shadow: inset 12em 0 0 0 #fff;
    color: #1957f3;
}

/*** about section css ***/
.about .part_text h4{
    font-size: 50px;
}
.about .part_text p{
    font-size: 26px;
    border-bottom: 1px solid #f1f1f1;
}
.about .part_text .info li {
    width: 48%;
    display: inline-block;
    margin-bottom: 15px;
}

/*** watch section css***/

.watch{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("../images/Nature.jpg");
    background-attachment: fixed;
}
.watch .container img{
    width: 200px;
    height: 200px;
    margin: 20px;
    text-align: center;
}
.watch h2{
    color: #fff;
    font-size: 52px;
    font-weight: 800;
}
video{
    width: 1000px;
    height: 700px;
    
}

/***Service section  css***/

.services .service_box{
    border: 1px solid #fafafa;
    transition: all 0.5s;
}

.services .service_box:hover{
    box-shadow: -1px 3px 10px 0 rgba(0,0,0,0.06);
}

.services .box{
    position: relative;
    padding: 50px;
}
.services .service_box .icon i{
    color: #1957f3;
    font-size: 38px;
}
.services .box_title{
    position: relative;
    margin-top: 10px;
    padding-bottom: 8px;
    font-size: 16px;
}

.services .box_title:before{
    content: '';
    display: inline-block;
    width: 15%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(91,52,255,0.2);
}

.services .service_box:after{
    content: '';
    width: 0px;
    height: 0px;
    border-left: 50px solid transparent;
    border-top: 50px solid transparent;
    border-bottom: 50px solid #f7f7f7;
    position: absolute;
    bottom: 4px;
    right: 4px;
}

.section_padding{
   padding: 100px 0; 
}



h1, h2, h3, h4{
    font-family: 'lato' , sans-serif;
    color: #151515;
    font-weight: 700;
}

p{
    line-height: 1.6;
    color: #777;
}

span, a{
    display: inline-block;
}

.banner{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("../images/bg.jpg");
    background-attachment: fixed;
    height: 100vh;
width: 100%;
}

.banner .caption h4{
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}

.banner .caption h2{
    color: #fff;
    font-size: 70px;
    letter-spacing: -1px;
}

.banner .caption p{
    color: #fff;
    font-size: 17px;
    line-height: 32px;
    opacity: 0.7;
}


.banner .caption .social_icon a{
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    font-size: 16px;
    transition: 0.5s all;
}

.banner .caption .social_icon a:hover{
    color: #1957f3;
}

/***contact css***/
.title {
    width: 48%;
    display: inline-block;
    margin-bottom: 15px;
}











