.navbar-nav {
    padding-left: 120vh;
}

@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');
.heading {
    font-family: 'Galada', cursive;
}

.custom-card {
    padding: 0px;
}

.foto {
    width: 100%;
    height: 80vh;
}

.abt {
    width: 100%;
    height: 50vh;
}

input {
    border-style: groove;
    border: hidden;
    border-bottom: 2px solid red;
}

textarea {
    border-style: groove;
    border: hidden;
    border-bottom: 2px solid red;
}